In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import random
from pprint import pprint

In [2]:
import_source="https://raw.githubusercontent.com/SimbarasheJehol/MachineLearningProject/master/dataProccesed2.csv"
df = pd.read_csv(import_source)
print("data is loaded")

data is loaded

In [3]:
df=df.drop('Unnamed: 0',axis=1)

In [4]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'martial_status', 'occupation', 'RelationShip', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
       'age-binned', 'fnlwgt-binned', 'education_num-binned',
       'capital_gain-binned', 'capital_loss-binned', 'hours_per_week-binned',
       'education_num_rand', 'income_class'],
      dtype='object')

In [5]:
df=df.drop( "fnlwgt", axis=1)\
                .drop( "capital_gain",axis=1)\
                .drop("capital_loss",axis=1)\
                .drop("education_num_rand",axis=1)\
                .drop( "fnlwgt-binned", axis=1)\
                .drop( "capital_gain-binned",axis=1)\
                .drop("capital_loss-binned",axis=1)\
                .drop("education_num-binned",axis=1)\
                .drop("hours_per_week-binned",axis=1)\

In [6]:
##target_variable=df["income_class"]
df.shape

(32561, 13)

In [7]:
def train_test_split(df, test_size):
    
    if isinstance(test_size, float):
        test_size = round(test_size * len(df))

    indices = df.index.tolist()
    test_indices = random.sample(population=indices, k=test_size)

    test_df = df.loc[test_indices]
    train_df = df.drop(test_indices)
    
    return train_df, test_df

In [31]:
#random.seed(0)// this will always return the same test_df dataframe
train_df, test_df = train_test_split(df, test_size=0.2)

In [35]:
test_df.sample(5)

,age,workclass,education,education_num,martial_status,occupation,RelationShip,race,sex,hours_per_week,native_country,age-binned,income_class
14875,25,Federal-gov,Some-college,10,Married-civ-spouse,Protective-serv,Husband,Black,Male,40,United-States,starter_workclass,<=50K
22773,41,Self-emp-inc,9th,5,Married-civ-spouse,Sales,Wife,White,Female,70,Dominican-Republic,mid_workclass,<=50K
15458,56,Private,9th,5,Divorced,Adm-clerical,Not-in-family,White,Male,40,United-States,Advanced_workclass,<=50K
29634,62,Private,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Female,32,United-States,diminishing_workclass,<=50K
9152,32,State-gov,HS-grad,9,Married-civ-spouse,Protective-serv,Husband,White,Male,40,United-States,junior work_class,<=50K

In [33]:
data = train_df.values ##speeding up the code
data[:5]

array([[39, ' State-gov', ' Bachelors', 13, ' Never-married',
        ' Adm-clerical', ' Not-in-family', ' White', ' Male', 40,
        ' United-States', 'mid_workclass', ' <=50K'],
       [50, ' Self-emp-not-inc', ' Bachelors', 13, ' Married-civ-spouse',
        ' Exec-managerial', ' Husband', ' White', ' Male', 13,
        ' United-States', 'Advanced_workclass', ' <=50K'],
       [38, ' Private', ' HS-grad', 9, ' Divorced', ' Handlers-cleaners',
        ' Not-in-family', ' White', ' Male', 40, ' United-States',
        'mid_workclass', ' <=50K'],
       [28, ' Private', ' Bachelors', 13, ' Married-civ-spouse',
        ' Prof-specialty', ' Wife', ' Black', ' Female', 40, ' Cuba',
        'junior work_class', ' <=50K'],
       [37, ' Private', ' Masters', 14, ' Married-civ-spouse',
        ' Exec-managerial', ' Wife', ' White', ' Female', 40,
        ' United-States', 'mid_workclass', ' <=50K']], dtype=object)

In [11]:
def check_purity(data):
    
    label_column = data[:,-1]
    unique_classes = np.unique(label_column)

    if len(unique_classes) == 1:
        return True
    else:
        return False

In [12]:
check_purity(train_df.values)

False

In [13]:
def classify_data(data):
    
    label_column = data[:, -1]
    unique_classes, counts_unique_classes = np.unique(label_column, return_counts=True)

    index = counts_unique_classes.argmax()
    classification = unique_classes[index]
    
    return classification

In [14]:
def get_potential_splits(data):
    
    potential_splits = {}
    _, n_columns = data.shape
    for column_index in range(n_columns - 1):          # excluding the last column which is the label
        values = data[:, column_index]
        unique_values = np.unique(values)
        
        type_of_feature = FEATURE_TYPES[column_index]
        if type_of_feature == "continuous":
            potential_splits[column_index] = []
            for index in range(len(unique_values)):
                if index != 0:
                    current_value = unique_values[index]
                    previous_value = unique_values[index - 1]
                    potential_split = (current_value + previous_value) / 2

                    potential_splits[column_index].append(potential_split)
        
        # feature is categorical
        # (there need to be at least 2 unique values, otherwise in the
        # split_data function data_below would contain all data points
        # and data_above would be empty)
        elif len(unique_values) > 1:
            potential_splits[column_index] = unique_values
    
    return potential_splits

In [15]:
def split_data(data, split_column, split_value):
    
    split_column_values = data[:, split_column]

    type_of_feature = FEATURE_TYPES[split_column]
    if type_of_feature == "continuous":
        data_below = data[split_column_values <= split_value]
        data_above = data[split_column_values >  split_value]
    
    # feature is categorical   
    else:
        data_below = data[split_column_values == split_value]
        data_above = data[split_column_values != split_value]
    
    return data_below, data_above

In [16]:
def calculate_entropy(data):
    
    label_column = data[:, -1]
    _, counts = np.unique(label_column, return_counts=True)

    probabilities = counts / counts.sum()
    entropy = sum(probabilities * -np.log2(probabilities))
     
    return entropy

In [17]:
def calculate_overall_entropy(data_below, data_above):
    
    n = len(data_below) + len(data_above)
    p_data_below = len(data_below) / n
    p_data_above = len(data_above) / n

    overall_entropy =  (p_data_below * calculate_entropy(data_below) 
                      + p_data_above * calculate_entropy(data_above))
    
    return overall_entropy

In [18]:
def determine_best_split(data, potential_splits):
    
    overall_entropy = 9999
    for column_index in potential_splits:
        for value in potential_splits[column_index]:
            data_below, data_above = split_data(data, split_column=column_index, split_value=value)
            current_overall_entropy = calculate_overall_entropy(data_below, data_above)

            if current_overall_entropy <= overall_entropy:
                overall_entropy = current_overall_entropy
                best_split_column = column_index
                best_split_value = value
    
    return best_split_column, best_split_value

In [19]:
def determine_type_of_feature(df):
    
    feature_types = []
    n_unique_values_treshold = 20
    for feature in df.columns:
        if feature != "income_class":
            unique_values = df[feature].unique()
            example_value = unique_values[0]

            if (isinstance(example_value, str)) or (len(unique_values) <= n_unique_values_treshold):
                feature_types.append("categorical")
            else:
                feature_types.append("continuous")
    
    return feature_types

In [20]:
def decision_tree_algorithm(df, counter=0, min_samples=2, max_depth=5):
    
    # data preparations
    if counter == 0:
        global COLUMN_HEADERS, FEATURE_TYPES
        COLUMN_HEADERS = df.columns
        FEATURE_TYPES = determine_type_of_feature(df)
        data = df.values
    else:
        data = df           
    
    
    # base cases
    if (check_purity(data)) or (len(data) < min_samples) or (counter == max_depth):
        classification = classify_data(data)
        
        return classification

    
    # recursive part
    else:    
        counter += 1

        # helper functions 
        potential_splits = get_potential_splits(data)
        split_column, split_value = determine_best_split(data, potential_splits)
        data_below, data_above = split_data(data, split_column, split_value)
        
        # determine question
        feature_name = COLUMN_HEADERS[split_column]
        type_of_feature = FEATURE_TYPES[split_column]
        if type_of_feature == "continuous":
            question = "{} <= {}".format(feature_name, split_value)
            
        # feature is categorical
        else:
            question = "{} = {}".format(feature_name, split_value)
        
        # instantiate sub-tree
        sub_tree = {question: []}
        
        # find answers (recursion)
        yes_answer = decision_tree_algorithm(data_below, counter, min_samples, max_depth)
        no_answer = decision_tree_algorithm(data_above, counter, min_samples, max_depth)
        
        # If the answers are the same, then there is no point in asking the qestion.
        # This could happen when the data is classified even though it is not pure
        # yet (min_samples or max_depth base case).
        if yes_answer == no_answer:
            sub_tree = yes_answer
        else:
            sub_tree[question].append(yes_answer)
            sub_tree[question].append(no_answer)
        
        return sub_tree

In [21]:
tree = decision_tree_algorithm(train_df, max_depth=3)
pprint(tree)

{'martial_status =  Married-civ-spouse': [{'education_num = 13': [' >50K',
                                                                  {'occupation =  Prof-specialty': [' '
                                                                                                    '>50K',
                                                                                                    ' '
                                                                                                    '<=50K']}]},
                                          ' <=50K']}

In [22]:
example = test_df.iloc[:,:]
example

,age,workclass,education,education_num,martial_status,occupation,RelationShip,race,sex,hours_per_week,native_country,age-binned,income_class
17956,36,Private,HS-grad,9,Separated,Sales,Unmarried,Black,Female,17,United-States,mid_workclass,<=50K
17785,42,Private,HS-grad,9,Divorced,Handlers-cleaners,Unmarried,Black,Female,40,United-States,senior_workclass,<=50K
3339,31,Private,HS-grad,9,Widowed,Craft-repair,Unmarried,White,Female,40,United-States,junior work_class,<=50K
5337,47,Private,Masters,14,Divorced,Prof-specialty,Unmarried,White,Female,50,United-States,senior_workclass,>50K
18035,27,Private,HS-grad,9,Never-married,Transport-moving,Not-in-family,White,Male,70,United-States,junior work_class,<=50K
13100,50,Private,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,40,United-States,Advanced_workclass,<=50K
6032,34,Private,Assoc-acdm,12,Never-married,Adm-clerical,Not-in-family,Asian-Pac-Islander,Female,60,United-States,mid_workclass,>50K
8203,20,Private,Some-college,10,Never-married,Priv-house-serv,Own-child,White,Female,20,United-States,starter_workclass,<=50K
6864,54,Private,Preschool,1,Married-civ-spouse,Farming-fishing,Husband,White,Male,60,United-States,Advanced_workclass,<=50K
32554,53,Private,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,40,United-States,Advanced_workclass,>50K
12755,28,Private,12th,8,Never-married,Sales,Not-in-family,Black,Male,40,United-States,junior work_class,<=50K
7207,45,Self-emp-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,38,United-States,senior_workclass,>50K
16331,44,Federal-gov,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Black,Male,40,United-States,senior_workclass,>50K
26386,23,Private,HS-grad,9,Never-married,Craft-repair,Unmarried,White,Male,45,Outlying-US(Guam-USVI-etc),starter_workclass,<=50K
177,34,Private,HS-grad,9,Never-married,Handlers-cleaners,Not-in-family,Black,Male,40,United-States,mid_workclass,<=50K
19539,21,Local-gov,12th,8,Never-married,Handlers-cleaners,Unmarried,Black,Female,20,United-States,starter_workclass,<=50K
24522,48,Self-emp-inc,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,40,United-States,senior_workclass,>50K
6917,24,Private,Bachelors,13,Never-married,Other-service,Own-child,White,Female,30,United-States,starter_workclass,<=50K
25715,35,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,40,United-States,mid_workclass,>50K
13857,47,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,46,United-States,senior_workclass,<=50K
32075,27,Private,Masters,14,Never-married,Prof-specialty,Not-in-family,Other,Female,40,Japan,junior work_class,<=50K
14173,40,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,40,United-States,mid_workclass,<=50K
14687,58,Private,Assoc-acdm,12,Married-civ-spouse,Exec-managerial,Husband,White,Male,50,United-States,diminishing_workclass,>50K
20182,19,Private,11th,7,Never-married,Handlers-cleaners,Own-child,White,Male,25,United-States,starter_workclass,<=50K
24665,37,Local-gov,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,45,United-States,mid_workclass,>50K
27680,38,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,45,United-States,mid_workclass,>50K
4150,33,State-gov,HS-grad,9,Divorced,Adm-clerical,Not-in-family,White,Male,40,United-States,junior work_class,<=50K
6587,22,Private,HS-grad,9,Never-married,Other-service,Other-relative,White,Male,40,United-States,starter_workclass,<=50K
1935,90,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,45,United-States,Advanced_retired,<=50K
31876,58,Private,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,24,United-States,diminishing_workclass,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8829,46,Self-emp-not-inc,HS-grad,9,Married-civ-spouse,Sales,Husband,Black,Male,60,United-States,senior_workclass,>50K
465,37,Private,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,60,United-States,mid_workclass,<=50K
5955,42,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Wife,White,Female,37,United-States,senior_workclass,>50K
8184,59,Private,HS-grad,9,Married-civ-spouse,Protective-serv,Husband,White,Male,24,United-States,diminishing_workclass,>50K
31110,40,Private,Some-college,10,Married-civ-spouse,Adm-clerical,Wife,White,Female,40,United-States,mid_workclass,>50K
30432,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,United-States,mid_workclass,>50K
9314,36,Private,Assoc-acdm,12,Never-married,Adm-clerical,Unmarried,Black,Female,40,Jamaica,mid_workclass,<=50K
6147,58,Self-emp-not-inc,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,60,United-States,diminishing_workclass,>50K
8,31,Private,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,50,United-States,junior work_class,>50K
25392,57,Local-gov,Masters,14,Divorced,Other-service,Unmarried,Black,Female,40,United-States,Advanced_workclass,<=50K
806,50,Private,Masters,14,Married-spouse-absent,Prof-specialty,Other-relative,White,Male,40,United-States,Advanced_workclass,<=50K
7176,44,Self-emp-inc,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,60,United-States,senior_workclass,<=50K
7324,58,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,United-States,diminishing_workclass,<=50K
23653,43,Private,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,30,Dominican-Republic,senior_workclass,<=50K
27489,62,Private,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,38,United-States,diminishing_workclass,<=50K
27798,44,Private,Some-college,10,Divorced,Craft-repair,Not-in-family,White,Male,42,United-States,senior_workclass,<=50K
19165,60,Self-emp-not-inc,Some-college,10,Married-civ-spouse,Farming-fishing,Husband,White,Male,15,United-States,diminishing_workclass,<=50K
20100,65,Private,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,40,United-States,diminishing_workclass,<=50K
25195,51,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Amer-Indian-Eskimo,Male,40,United-States,Advanced_workclass,>50K
303,55,Private,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,40,United-States,Advanced_workclass,>50K
26801,41,Private,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,40,United-States,mid_workclass,>50K
28146,40,Self-emp-not-inc,Assoc-voc,11,Married-civ-spouse,Farming-fishing,Husband,White,Male,60,United-States,mid_workclass,<=50K
7288,33,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,United-States,junior work_class,<=50K
22330,69,Private,Some-college,10,Widowed,Adm-clerical,Not-in-family,White,Female,24,United-States,junior_retired,<=50K
9478,47,Private,HS-grad,9,Never-married,Transport-moving,Not-in-family,White,Male,45,United-States,senior_workclass,<=50K
739,42,Private,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,40,United-States,senior_workclass,>50K
23467,42,Self-emp-not-inc,Masters,14,Married-civ-spouse,Sales,Husband,White,Male,80,United-States,senior_workclass,>50K
8233,37,State-gov,HS-grad,9,Never-married,Other-service,Own-child,White,Female,40,United-States,mid_workclass,<=50K
31463,28,Local-gov,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,40,United-States,junior work_class,<=50K
24902,61,Private,HS-grad,9,Married-civ-spouse,Prof-specialty,Husband,White,Male,40,United-States,diminishing_workclass,>50K

In [23]:
def classify_example(example, tree):
    question = list(tree.keys())[0]
    feature_name, comparison_operator, value = question.split(" "),question.split(" "),question.split(" ")

    # ask question
    if comparison_operator == "<=":
        if example[feature_name] <= float(value):
            answer = tree[question][0]
        else:
            answer = tree[question][1]
    
    # feature is categorical
    else:
        if str(example[feature_name]) == value:
            answer = tree[question][0]
        else:
            answer = tree[question][1]

    # base case
    if not isinstance(answer, dict):
        return answer
    
    # recursive part
    else:
        residual_tree = answer
        return classify_example(example, residual_tree)

In [24]:
def calculate_accuracy(df, tree):

    df["classification"] = df.apply(classify_example, args=(tree,), axis=1)
    df["classification_correct"] = df["classification"] == df["income_class"]
    
    accuracy = df["classification_correct"].mean()
    
    return accuracy

In [25]:
calculate_accuracy(test_df,tree)

/usr/local/anaconda3/lib/python3.7/site-packages/pandas/core/series.py:851: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self.loc[key]

0.761517199017199

In [26]:
train_df, test_df = train_test_split(df, test_size=0.3)
tree = decision_tree_algorithm(train_df)
accuracy = calculate_accuracy(test_df, tree)

In [27]:
print(tree)

{'martial_status =  Married-civ-spouse': [{'education_num = 13': [{'hours_per_week <= 31.0': [{'RelationShip =  Wife': [' >50K', ' <=50K']}, {'age-binned = starter_workclass': [' <=50K', ' >50K']}]}, {'occupation =  Prof-specialty': [{'hours_per_week <= 26.5': [{'sex =  Male': [' <=50K', ' >50K']}, ' >50K']}, {'occupation =  Exec-managerial': [' >50K', ' <=50K']}]}]}, {'age <= 28.5': [{'hours_per_week <= 37.5': [{'workclass =  Self-emp-not-inc': [{'occupation =  Exec-managerial': [' >50K', ' <=50K']}, ' <=50K']}, {'hours_per_week <= 49.5': [{'martial_status =  Married-AF-spouse': [' >50K', ' <=50K']}, ' <=50K']}]}, {'hours_per_week <= 41.5': [{'occupation =  Prof-specialty': [{'education_num = 15': [' >50K', ' <=50K']}, ' <=50K']}, ' <=50K']}]}]}

In [28]:
print(accuracy)

0.762080262080262

In [29]:
test_df

,age,workclass,education,education_num,martial_status,occupation,RelationShip,race,sex,hours_per_week,native_country,age-binned,income_class,classification,classification_correct
10182,39,Private,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,26,United-States,mid_workclass,<=50K,<=50K,True
16342,53,Private,Some-college,10,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,United-States,Advanced_workclass,>50K,<=50K,False
26843,47,Private,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,45,United-States,senior_workclass,>50K,<=50K,False
18097,72,Self-emp-not-inc,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,30,United-States,junior_retired,<=50K,<=50K,True
17207,50,Private,Some-college,10,Married-civ-spouse,Sales,Husband,Asian-Pac-Islander,Male,50,United-States,Advanced_workclass,>50K,<=50K,False
23782,38,Private,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,40,United-States,mid_workclass,>50K,<=50K,False
21401,38,Self-emp-inc,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,70,United-States,mid_workclass,>50K,<=50K,False
24742,24,State-gov,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,49,United-States,starter_workclass,>50K,<=50K,False
16117,62,Private,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,Black,Male,35,United-States,diminishing_workclass,>50K,<=50K,False
14358,34,Private,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,35,United-States,mid_workclass,<=50K,<=50K,True
3015,35,Self-emp-not-inc,HS-grad,9,Never-married,Exec-managerial,Not-in-family,White,Male,50,United-States,mid_workclass,<=50K,<=50K,True
25514,55,Private,Some-college,10,Married-civ-spouse,Adm-clerical,Husband,Black,Male,25,United-States,Advanced_workclass,<=50K,<=50K,True
1920,32,Private,HS-grad,9,Separated,Adm-clerical,Unmarried,White,Female,40,United-States,junior work_class,<=50K,<=50K,True
27562,44,Private,Assoc-acdm,12,Divorced,Prof-specialty,Not-in-family,White,Female,43,United-States,senior_workclass,<=50K,<=50K,True
30153,30,Private,HS-grad,9,Married-civ-spouse,Other-service,Wife,White,Female,30,United-States,junior work_class,<=50K,<=50K,True
38,31,Private,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,38,United-States,junior work_class,>50K,<=50K,False
6558,21,Private,Some-college,10,Never-married,Prof-specialty,Own-child,White,Female,40,United-States,starter_workclass,<=50K,<=50K,True
30186,23,Private,11th,7,Married-civ-spouse,Other-service,Husband,White,Male,40,United-States,starter_workclass,<=50K,<=50K,True
2920,63,Self-emp-not-inc,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,98,United-States,diminishing_workclass,<=50K,<=50K,True
20210,43,State-gov,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,35,United-States,senior_workclass,>50K,<=50K,False
27674,49,Private,Some-college,10,Married-civ-spouse,Other-service,Husband,White,Male,40,United-States,senior_workclass,<=50K,<=50K,True
17761,66,Private,Bachelors,13,Married-civ-spouse,Other-service,Husband,White,Male,40,United-States,junior_retired,>50K,<=50K,False
30136,18,Private,11th,7,Never-married,Other-service,Own-child,White,Male,20,United-States,starter_workclass,<=50K,<=50K,True
15036,55,Private,Some-college,10,Never-married,Adm-clerical,Not-in-family,Black,Female,45,United-States,Advanced_workclass,<=50K,<=50K,True
31304,42,Private,10th,6,Married-civ-spouse,Craft-repair,Husband,White,Male,45,United-States,senior_workclass,<=50K,<=50K,True
30243,47,Private,HS-grad,9,Divorced,Sales,Not-in-family,White,Male,50,United-States,senior_workclass,<=50K,<=50K,True
11202,26,Private,HS-grad,9,Never-married,Adm-clerical,Not-in-family,Black,Male,40,United-States,junior work_class,<=50K,<=50K,True
4294,28,Private,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Female,85,United-States,junior work_class,<=50K,<=50K,True
26578,21,Private,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Female,40,United-States,starter_workclass,<=50K,<=50K,True
32190,34,Private,Bachelors,13,Never-married,Exec-managerial,Own-child,White,Male,40,United-States,mid_workclass,<=50K,<=50K,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18639,58,Private,11th,7,Married-civ-spouse,Craft-repair,Husband,White,Male,40,United-States,diminishing_workclass,<=50K,<=50K,True
21596,24,Private,Assoc-acdm,12,Never-married,Exec-managerial,Own-child,White,Male,40,United-States,starter_workclass,<=50K,<=50K,True
26670,34,Private,Bachelors,13,Never-married,Other-service,Not-in-family,White,Male,40,United-States,mid_workclass,<=50K,<=50K,True
30064,23,Private,Some-college,10,Never-married,Adm-clerical,Not-in-family,White,Female,24,Greece,starter_workclass,<=50K,<=50K,True
2180,36,Private,Assoc-acdm,12,Married-civ-spouse,Exec-managerial,Wife,White,Female,50,United-States,mid_workclass,>50K,<=50K,False
6888,17,Private,Some-college,10,Never-married,Adm-clerical,Own-child,White,Male,20,United-States,starter_workclass,<=50K,<=50K,True
10163,29,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,United-States,junior work_class,<=50K,<=50K,True
22068,56,Private,10th,6,Married-civ-spouse,Craft-repair,Husband,White,Male,70,United-States,Advanced_workclass,<=50K,<=50K,True
13861,29,Self-emp-not-inc,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,48,United-States,junior work_class,<=50K,<=50K,True
3437,63,Self-emp-not-inc,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,32,United-States,diminishing_workclass,<=50K,<=50K,True
18474,20,Private,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,20,United-States,starter_workclass,<=50K,<=50K,True
11282,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,United-States,mid_workclass,<=50K,<=50K,True
19085,76,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,40,United-States,sineor_retired,<=50K,<=50K,True
31886,50,Local-gov,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,White,Female,24,United-States,Advanced_workclass,<=50K,<=50K,True
29964,56,Private,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Female,38,United-States,Advanced_workclass,<=50K,<=50K,True
6547,48,Private,Some-college,10,Widowed,Sales,Unmarried,White,Male,50,United-States,senior_workclass,>50K,<=50K,False
4824,47,Private,HS-grad,9,Divorced,Other-service,Unmarried,Black,Male,9,United-States,senior_workclass,<=50K,<=50K,True
16975,30,Private,HS-grad,9,Never-married,Other-service,Not-in-family,Black,Male,40,United-States,junior work_class,<=50K,<=50K,True
11117,29,Private,Some-college,10,Never-married,Sales,Unmarried,White,Female,40,United-States,junior work_class,<=50K,<=50K,True
31872,39,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,60,United-States,mid_workclass,>50K,<=50K,False
1981,49,Federal-gov,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,40,United-States,senior_workclass,>50K,<=50K,False
17677,37,Private,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,57,United-States,mid_workclass,<=50K,<=50K,True
2585,51,Private,HS-grad,9,Divorced,Adm-clerical,Not-in-family,White,Female,40,United-States,Advanced_workclass,<=50K,<=50K,True
7730,43,Private,1st-4th,2,Widowed,Prof-specialty,Unmarried,White,Female,21,Mexico,senior_workclass,<=50K,<=50K,True
582,59,Private,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,40,United-States,diminishing_workclass,<=50K,<=50K,True
22186,31,Private,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,40,United-States,junior work_class,<=50K,<=50K,True
23223,30,Private,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,40,United-States,junior work_class,<=50K,<=50K,True
30282,34,Private,Bachelors,13,Married-spouse-absent,Adm-clerical,Not-in-family,White,Female,25,United-States,mid_workclass,<=50K,<=50K,True
18084,34,Private,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Husband,White,Male,28,United-States,mid_workclass,<=50K,<=50K,True
9738,29,Private,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,40,United-States,junior work_class,<=50K,<=50K,True

In [30]:
pip install pydotplus

The following command must be run outside of the IPython shell:

    $ pip install pydotplus

The Python package manager (pip) can only be used from outside of IPython.
Please reissue the `pip` command in a separate terminal or command prompt.

See the Python documentation for more information on how to install packages:

    https://docs.python.org/3/installing/